*{
  margin: 0;
  padding: 0;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 1120px;
    margin: 0;
    flex-wrap: wrap;
  }

  .gridRow {
    display: flex;
    
  }

  .gridCell {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    background: url(/Game/imgGame/ulrick-wery-tileableset-brickwallmoss.jpg) ;
    background-size: 600% 600%;
  }
  .badge{

    
    background: url(/Game/imgGame/coin.jpg) center;
    background-size: 100% 100%;
    

  }
  .player {
    
    background :url(/Game/imgGame/plaer.jpg) center no-repeat;
    background-size: 100% 100%;
    
  }

  .wall {
    background: rgb(23, 29, 29);
    box-sizing: border-box;
    background: url(/Game/imgGame/wall.jpg) center no-repeat;
    background-size: 100% 100%;
    background-color: unset;
    
  }
#app{
  background: url(/Game/imgGame/ulrick-wery-tileableset-brickwallmoss.jpg) center;
  background-size: 100% 100%;
}
  