*{
  margin: 0;
  padding: 0;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 1120px;
    margin: 0;
    flex-wrap: wrap;
  }

  .gridRow {
    display: flex;
    
  }

  .gridCell {
    height: 50px;
    width: 50px;
    background: gray;
    box-sizing: border-box;
    
    margin: 0;
  }
  .badge{

    background-color: yellow;

  }
  .player {
    
    background :url(/img/gosciunowy.png) center no-repeat;
    background-size: 100% 100%;
    
  }

  .wall {
    background: rgb(23, 29, 29);
    box-sizing: border-box;
    background: url(/Game/imgGame/wall.jpg) center no-repeat;
    background-size: 100% 100%;
    
  }
#app{
  background: gray
}
  