*{
  margin: 0;
  padding: 0;
}
#app{
  width: 100%;
  display: flex;
  position: relative;
  flex: 1 1 0;
}
.grid {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gridRow {
    display: flex;
    
  }

  .gridCell {
    height: 40px;
    width: 40px;
    background: gray;
    box-sizing: border-box;
    
    margin: 0;
  }
  .badge{

    background-color: yellow;

  }
  .player {
    background: cyan;
  }

  .wall {
    background: rgb(23, 29, 29);
  }

  