


path {
  fill: transparent;
}

text {
  fill: #FF9800;
}



.form {
    height: 60vh;
    width: 20vw;
    background: rgb(2, 31, 94);
    margin: 0 auto;
    margin-top: 200px;
    font-size: 35px;
    color: wheat;
    text-align: center;
    position: absolute;
    /* padding: 30px; */

}

.subscribe{
    display: flex;
    position: absolute;
    margin: 0 50% 0 40%;
    
}

.letterbefore {
    height: 50vh;
    width: 15vw;
    background: #e1e8f0;
    z-index: 0;
    margin-left: 0px;

    position: relative;
    bottom: -240px;
    right: -2px;
    padding: 20px;

   
}



.circle {
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background:rgb(41, 171, 226);
    margin: 0 auto;
    margin-top: 150px;
    z-index: 1; 
    cursor: pointer;
}

.letterafter {
    height: 50vh;
    width: 15vw;
    background: #e1e8f0;
    z-index: 1000;
    margin-left: 0px;

    position: relative;
    bottom: -240px;
    right: -2px;
    animation-duration: 2s;
    animation-name: slidein;
}



.form-style-4{
    width: 15vw;
    height: 50vh;
    font-size: 30px;
    background: #e1e8f0;
    /* padding: 20px; */
    
    /* padding: 30px 30px 15px 30px; */
    /* border: 5px solid #53687E; */
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #333;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    /* float: left; */
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #333;
}

/* .form-style-4 input[type=submit], */
.send {
    display: block;
    margin: 0 auto;
    background: #e62739;
    border: none;
    padding: 18px 30px 18px 30px;
    border-radius: 5px;
    color: #A8BACE;

    
}

.letter-sent {

    height: 50vh;
    width: 15vw;
    background: #e1e8f0;
    z-index: 0;
    margin-left: 0px;

    position: relative;
    bottom: -240px;
    right: -2px;
    padding: 20px;

    position: relative;
    bottom: -240px;
    right: -2px;
    animation-duration: 2s;
    animation-name: slideout;

}

.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #6ed3cf;

}

.enter {
    margin-top: 180px;
    text-align: center;
    margin-left: 60px;
    font-size: 20px;
}

.email {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    margin-left: 60px;
    display: block;
}

.nameinput {
    margin-left: 0;
    margin-right: 2000px;
    overflow: hidden;
}

@keyframes slidein {
    0% {
      margin-left: 0;
      z-index: 0;
    }

    49% {
        z-index: 0;
    }
    50% {
        margin-left: 300px;
        z-index: 1000;
    }

    100% {
        margin-left: 0;
        
    }
  }

@keyframes slideout {

    0% {
        margin-left: 0;
        z-index: 1;
      }
  
      49% {
          z-index: 1;
      }
      50% {
          margin-left: -300px;
          z-index: 0;
      }
  
      100% {
          margin-left: 0;
      } 
}
