


.nav-menu a { 
	display: block; 
	padding: 15px;
    color: #F0EADC;
    text-decoration: none;
    flex: 1 1 0;
    transition: all .1s ease-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

.nav-menu a:hover { 
    background: #E5DAC0; color: #333;    
}

.nav-menu-icon:hover {
    background: #E5DAC0; color: #333; 
}

.nav-menu li:last-child a { 
    border-bottom: none; 
}

.nav-menu ul {
    list-style-type: none;
    display: flex;    
}

.nav-menu {
    width: 100%; text-align: center;
    background: #333;
	top: -49px;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}

.nav-menu-icon {
    color: #F0EADC; 
    font-size: 25px;
    display: block;
    padding: 10px 20px;
    background: #333;
	cursor: pointer;
    /* height: 40px; */
    border-radius: 0px 0px 90px 90px;
    position: absolute;
    transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

#menuToggle { display: none; }
#menuToggle:checked ~ .nav-menu { position: fixed; top: 0; }

.nav-menu:hover {
    top: 0;
}


/*Mobile styles*/

@media (max-width: 576px)  {

.nav-menu ul {
    display: block;
}

.nav-menu {
    top: -230px;
    
}    

}
