/* padding top tymczaswo zeby nie zachodził na belke/* */

body{padding-top: 50px}
.container {
    display: block;
    width: auto;
    height: auto;
}

.navbar {
    background: blue;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: stretch;
}


@media (min-width: 400px) {
    .navbar-item {
    display: flex;
    align-items: center;
    margin: 0 120px 0 0px;
    font-size: 20px;
}
}

.logo {
    height: 50px;
    width: 70px;
    background: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    height: 1000px;
    background-image: url(image/mountain.jpg);
    object-fit: cover;

}

.img {
    width: 100%;
    height: auto;
    position: relative
}

.display {
    display: flex;
}

.header{
    width: 100%;
}

.boxy{
    width: 100%;
    height: 400px;
    background-image: url(/xforcelogo.jpg);
    display: flex; 
    justify-content: space-between;
    

}

.small{

    width: 800px;
    margin: 5px;
    border-style: solid;
    
    
}
  
.gridy1{

    background:teal;
    font-size: 40px;
    text-shadow: 3px 2px red;
    
    
    

}
.gridy1 h1{

    text-align: center;
    text-shadow: 3px 2px rgb(231, 56, 56);
    
    
    }
 


.gridy2{}

.gridy3{
    background: greenyellow

}

.gridy4{
    display: flex;

}

.gridy4 .a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.gridy4 .a h1 {
}

.gridy4 .b {
    width: 100%;
    height: 100%;
    background: url(/giphy.gif) no-repeat center;
}