
.container {
    display: block;
    width: auto;
    height: auto;
}

.navbar {
    background: blue;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: stretch;
}


@media (min-width: 400px) {
    .navbar-item {
    display: flex;
    align-items: center;
    margin: 0 120px 0 0px;
    font-size: 20px;
}
}

.logo {
    height: 50px;
    width: 70px;
    background: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    height: 1000px;
    background-image: url(image/mountain.jpg);
    object-fit: cover;

}

.img {
    width: 100%;
    height: auto;
    position: relative
}

.display {
    display: flex;
}

.small-box-left {
    float: left;
    width: 310px;
    height: 360px;
    background: green;
    margin: 300px;
}

/* Team-section */
.team{
    background-color: rgba(17, 17, 17, 0.699);
    height: 580px;
    margin-top:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.t-member{

    background-color: rgba(0, 0, 0, 0.295);
    height: 380px;
    width: 250px;
    margin: 0 20px;
    margin-top: -70;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   
}


.t-member img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    
    
}

.t-top{
    display: flex;
    justify-content: center;
    
}
.t-p p{
    color: rgb(0, 0, 0);
    font-size: 13px;
    padding: 5px;
    

}

.t-bot{
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.527);
    
    
}