
* {
    margin: 0px;
    padding: 0px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.sticky {
    position: fixed;
}

.invitation{
    text-align: center;
    flex-direction: row;
    margin-top: 20%;
 }

.i-form{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    border: double 10px black;
    font-size: 25px;
}
.i-form-input{
    color:  red;
    justify-items: center;
    font-size: 20px;
}
.i-form-email{
    align-content: flex-end;
}
.i-form-text{
    font-size: 30px;
    border: solid black
}
.i-text-center{
    text-align: center;
    margin-top: 2%;
}
.i-fieldset-invitation{
    border: dashed 10px blue;
}
@media only screen and (min-width: 568px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}