
@font-face{
    font-family: "Foncik";
    src: url(/tmp/GraviolaSoft-Medium.otf);
}


.t-team{
    background-color: rgb(2, 31, 94);
}

.t-header{
    height: 100px;
    text-align: center;
    padding-top: 20px;
}
.t-header p{
    font-size: 27px;
    font-family: Foncik;
    word-spacing: 7px;
    color: rgb(241, 247, 248);
    font-weight: bold;
    letter-spacing: 2px;


}
.t-content{
    margin-top: 30px;
}

.t-member{
    width: 150px;
    height: 230px;
    
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: rgba(207, 233, 255, 0.795);
    box-shadow: 0px 10px 10px rgba(5, 30, 53, 0.733);
}

.t-top{
    height: 70px;
    text-align: center;
}

 .t-top img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 15px;
    border-radius: 20px;
    border: 3px solid rgb(207, 207, 223);
}

.t-bot{
    text-align: center;
    margin-top: 30px;

}

.t-bot p{
    color: rgb(255, 255, 255);
    font-family: Foncik;
    font-size: 14px;
    padding: 0 8px;
    
}
.t-links{
    display: flex;
    align-items: flex-end;
    height: 80px;
    justify-content: space-around;
}

.t-links i{
    color:white;
    font-size: 22px;
    
}



@media (min-width: 380px) { 

    .t-header p{
        font-size: 37px
    }

    .t-member{
        width: 230px;
    }
    .t-top{
        height: 80px;
    }

    .t-bot p{
        font-size: 16px;
    }

    .t-links i{
        font-size: 30px;
        margin-bottom: 10px;
    }
    
}



@media (min-width: 576px) { 

    .t-line{
        display: flex;
    }

    .t-line2{
        margin-top: 50px;
    }

    .t-member{
        width: 260px;
        height: 230px;
    }
 }


 @media (min-width: 768px) { 

    .t-line{
        display: flex;
        
    }

    .t-header p{
        font-size: 50px;
    }

    .t-member{
       
        width: 400px;
        height: 300px;
        

    }
    .t-top{
        height: 100px;
    }
    .t-bot p{
       
        font-size: 22px;
        margin-top: 5px;

    }
    .t-links i{
        font-size: 35px;
        margin-bottom: -16px;
    }
 }

    @media (min-width:1000px) {

        

        .t-member{
           
            width: 400px;
            height: 300px;
            
        }
        .t-top{
            height: 110px;
        }
        .t-bot p{
           
            font-size: 25px;
            margin-top: 0px;
            line-height: 23px
    
        }
        .t-bot p:last-child{
            margin-top: 0px;
        }
        .t-links{
            display: inline;
            
        }

       .t-links i{
           font-size: 40px;
           margin: 0 45px;
           margin-top: 50px;
           
       }
        }
        @media (min-width:1136px) {

        

            .t-member{
               
                width: 500px;
                height: 300px;
                
            }
            .t-top{
                height: 110px;
            }
            .t-bot p{
               
                font-size: 25px;
                margin-top: 0px;
                line-height: 33px
        
            }
            .t-bot p:last-child{
                margin-top: 0px;
            }
            .t-links{
                display: inline;
                
            }
    
           .t-links i{
               font-size: 40px;
               margin: 0 55px;
               margin-top: 45px;
               
           }
            }