.score{
    background: grey;
    width: 100%; 
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: red;
  
}
td{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
tr{
    display: flex;
    justify-content: center;
}
